image: lawncareplanners/aws-sam-py37-node14:latest
pipelines:
  branches:
    develop:
      - step:
          name: Install dependencies
          caches:
            - node
          script:
            - npm install
          artifacts:
            - "**"
      - step:
          name: Deploy
          deployment: production
          script:
            - npm run deploy
