name: Lighthouse Report

on:
  workflow_dispatch:
  workflow_call:

jobs:
  report:
    runs-on: ubuntu-latest
    container: tjharrison/gha-lighthouse-reports
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Run Report
        run: |
          lighthouse --chrome-flags="--headless --disable-gpu --no-sandbox" https://seeth.is --output html --output json --output-path ./see-this

      - name: Save HTML Artifact
        uses: actions/upload-artifact@v3
        with:
          name: lighthouse-report-html
          path: ./see-this.report.html

      - name: Save JSON Artifact
        uses: actions/upload-artifact@v3
        with:
          name: lighthouse-report-json
          path: ./see-this.report.json
